
CONFIG_NICE_OLED_WIDGET_ANIMATION_PERIPHERAL=y

# "원하는 것만 y"로 확실히!
CONFIG_NICE_OLED_WIDGET_ANIMATION_PERIPHERAL_CAT=n
CONFIG_NICE_OLED_WIDGET_ANIMATION_PERIPHERAL_POKEMON=n
CONFIG_NICE_OLED_WIDGET_ANIMATION_PERIPHERAL_SPACEMAN=y

# 배터리(스마트 배터리 애니메이션)
CONFIG_NICE_OLED_WIDGET_ANIMATION_PERIPHERAL_SMART_BATTERY=y
