# nice_oled 활성화(일반 OLED)
CONFIG_NICE_OLED_ON=y

# 레이어 위젯
CONFIG_NICE_OLED_WIDGET_LAYER=y

CONFIG_NICE_OLED_WIDGET_WPM=y
CONFIG_NICE_OLED_WIDGET_WPM_BONGO_CAT=y 
CONFIG_NICE_OLED_WIDGET_WPM_LUNA=n 

CONFIG_NICE_OLED_WIDGET_WPM_NUMBER=y
CONFIG_NICE_OLED_WIDGET_WPM_SPEEDOMETER=y

CONFIG_NICE_OLED_WIDGET_WPM_GRAPH=y
CONFIG_NICE_OLED_WIDGET_WPM_GRAPH_FIXED_RANGE=y
CONFIG_NICE_OLED_WIDGET_WPM_GRAPH_FIXED_RANGE_MAX=100


