CONFIG_NICE_OLED_ON=y

# peripheral 애니메이션 켜고, 스페이스맨 선택
CONFIG_NICE_OLED_WIDGET_ANIMATION_PERIPHERAL=y
CONFIG_NICE_OLED_WIDGET_ANIMATION_PERIPHERAL_SPACEMAN=y  # :contentReference[oaicite:15]{index=15}
CONFIG_NICE_OLED_WIDGET_ANIMATION_PERIPHERAL_CAT=n       # 기본 cat 켜져있을 수 있어 끔 :contentReference[oaicite:16]{index=16}

# 배터리 표시(스마트 배터리 애니메이션)
CONFIG_NICE_OLED_WIDGET_ANIMATION_PERIPHERAL_SMART_BATTERY=y  # :contentReference[oaicite:17]{index=17}
